@import "utils/variables";

* {
    box-sizing: border-box;
}

// Default styling (what mobile looks like)
body {
    background-color: $website-bg-color;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

//how the headers look styles the a tags to becom bigger when hovering over them changes it to inlineblock
header {
    a {
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        &:hover,
        &:focus {
            transform: translateX(-50%) scale(1.1);
        }
    }
}

//on the pages with info about fish default sizing for the div
#infoPage {
    display: inline-block;
    background-color: whitesmoke;
    padding: 10%;
    margin: 10% 15% 10% 15%;
}

//creates a gallery for the home pag and when hovering over the images it becomes bigger.
#fish-gallery {
    display: grid;

    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);

    .FishImage {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        a {
            display: inline-block;
            position: relative;
            left: 50%;
            transform: translateX(-50%);

            &:hover,
            &:focus {
                transform: translateX(-50%) scale(1.1);
            }
        }

        img {
            width: 100%;
        }
    }

    p {
        color: lavenderblush;
    }
}
//mobile font size

p {
    font-size: 10px;
}

//home button styling
#FishingWebsiteName {
    font-size: 40px;
    text-align: center;
    color: white;
}
a {
    text-decoration: none;
}

// Styling for desktop version
@media all and (min-width: 700px) {
    p {
        font-size: 20px;
    }

    #FishingWebsiteName {
        font-size: 50px;
    }
}
